<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Categorías</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans">

<header th:replace="~{fragments/header :: header}"></header>

<div class="flex flex-col items-center justify-center min-h-screen px-4 py-10 bg-gray-50">
    <h1 class="text-3xl font-bold text-green-600 mb-6">Gestión de Categorías</h1>

    <form th:action="@{/admin/categorias/agregar}" method="post" class="flex space-x-4 mb-8">
        <input type="text" name="catNombre" placeholder="Nueva categoría" required
               class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
        <button type="submit"
                class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded transition">
            Añadir
        </button>
    </form>

    <table class="w-full max-w-2xl bg-white shadow-md rounded-xl overflow-hidden">
        <thead class="bg-green-500 text-white">
        <tr>
            <th class="text-left p-4">Nombre</th>
            <th class="text-center p-4">Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cat : ${categorias}" class="border-t">
            <form th:action="@{/admin/categorias/editar}" method="post" class="flex w-full justify-between items-center px-4 py-2">
                <td class="w-2/3">
                    <input type="hidden" name="categoriaCod" th:value="${cat.categoriaCod}">
                    <input type="text" name="catNombre" th:value="${cat.catNombre}"
                           class="w-full border rounded px-2 py-1">
                </td>
                <td class="w-1/3 text-center space-x-2">
                    <a th:href="@{/admin/categorias/eliminar/{id}(id=${cat.categoriaCod})}"
                       onclick="return confirm('¿Eliminar esta categoría?')"
                       class="text-red-600 hover:text-red-800 font-semibold">Eliminar</a>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <a href="/admin"
       class="mt-8 bg-green-500 hover:bg-green-700 text-white px-6 py-2 rounded-xl transition shadow-md">
        ← Volver al panel
    </a>

</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var loginIcon = document.getElementById('loginIcon');
        var loginDropdown = document.getElementById('loginDropdown');

        loginIcon.addEventListener('click', function (event) {
            event.preventDefault();
            loginDropdown.classList.toggle('hidden');
        });

        window.addEventListener('click', function (event) {
            if (!event.target.closest('.login-container')) {
                loginDropdown.classList.add('hidden');
            }
        });
    });
</script>