<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Planeta Digital</title>
</head>
<body class="font-sans flex flex-col min-h-screen bg-gray-50">

<header th:replace="~{fragments/header :: header}"></header>

<section class="p-6 border-b border-gray-200 bg-white shadow-sm">
    <ul class="flex space-x-4 justify-center">
        <li th:each="categoria : ${categorias}">
            <a th:href="@{/PagLibrosPorCategoria(categoriaCod=${categoria.categoriaCod})}"
               th:text="${categoria.catNombre}"
               class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-700 transition ease-in-out duration-300">
            </a>
        </li>
    </ul>
</section>

<section class="flex-grow py-6 px-4">
    <!-- Sección de Libros Destacados -->
    <div th:if="${destacados}">
        <h2 class="text-3xl text-green-500 text-center my-8 font-semibold">Destacados</h2>
        <div class="flex flex-wrap justify-center gap-6 py-6">
            <div th:each="libro : ${destacados}" class="w-48 bg-white rounded-xl shadow-lg transform hover:scale-105 hover:shadow-2xl transition duration-300 ease-in-out p-4 text-center">
                <a th:href="@{'/detalleLibro/' + ${libro.libroCod}}">
                    <img th:src="@{'/imagenes/libros/' + ${libro.libroimagen}}"
                         th:alt="${libro.librotitulo}"
                         class="h-48 w-full object-contain rounded-lg mb-4 transition-all duration-300 ease-in-out hover:opacity-90" />
                </a>
                <h3 th:text="${libro.librotitulo}" th:title="${libro.librotitulo}" class="truncate font-semibold text-gray-700"></h3>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var loginIcon = document.getElementById('loginIcon');
        var loginDropdown = document.getElementById('loginDropdown');

        loginIcon.addEventListener('click', function (event) {
            event.preventDefault();
            loginDropdown.classList.toggle('hidden');
        });

        window.addEventListener('click', function (event) {
            if (!event.target.closest('.login-container')) {
                loginDropdown.classList.add('hidden');
            }
        });
    });
</script>