<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Planeta Digital</title>
</head>
<body class="font-sans flex flex-col min-h-screen">
<header th:replace="~{fragments/header :: header}"></header>

<section class="p-4">
    <ul class="flex space-x-4 justify-center">
        <li th:each="categoria : ${categorias}">
            <a th:href="@{/PagLibrosPorCategoria(categoriaCod=${categoria.categoriaCod})}"
               th:text="${categoria.catNombre}"
               class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-700"></a>
        </li>
    </ul>
</section>

<section class="flex-grow">
    <div th:if="${libros}">
        <h2 class="text-2xl text-center py-4" th:text="${categoriaNombre}"></h2>
        <div class="flex flex-wrap justify-around px-6 py-4">
            <div th:each="libro : ${libros}" class="w-40 text-center mb-4">
                <a th:href="@{'/detalleLibro/' + ${libro.libroCod}}">
                    <img th:src="@{'/imagenes/libros/' + ${libro.libroimagen} + '.jpg'}"
                         th:alt="${libro.librotitulo}"
                         class="h-48 w-auto mb-2 hover:scale-105 transition-transform"/>
                </a>
                <h3 th:text="${libro.librotitulo}" class="truncate"></h3>
            </div>
        </div>
    </div>

    <!-- Verificar los libros destacados -->
    <div th:if="${destacados}">
        <h2 class="text-3xl text-green-500 text-center my-8">Catálogo de libros</h2>
        <h3 class="text-2xl text-green-500 mb-4">Destacados</h3>
        <div class="flex flex-wrap justify-around px-6 py-4">
            <div th:each="libro : ${destacados}" class="w-40 text-center mb-4">
                <a th:href="@{'/detalleLibro/' + ${libro.libroCod}}">
                    <img th:src="@{'/imagenes/libros/' + ${libro.libroimagen} + '.jpg'}"
                         th:alt="${libro.librotitulo}" class="h-48 w-auto mb-2 hover:scale-105 transition-transform"/>
                </a>
                <h3 th:text="${libro.librotitulo}" class="truncate"></h3>
            </div>
        </div>

        <h3 class="text-2xl text-green-500 mt-8 mb-4">Añadidos Recientemente</h3>
        <div class="flex flex-wrap justify-around px-6 py-4">
            <div th:each="libro : ${recientes}" class="w-40 text-center mb-4">
                <a th:href="@{'/detalleLibro/' + ${libro.libroCod}}">
                    <img th:src="@{'/imagenes/libros/' + ${libro.libroimagen} + '.jpg'}"
                         th:alt="${libro.librotitulo}" class="h-48 w-auto mb-2 hover:scale-105 transition-transform"/>
                </a>
                <h3 th:text="${libro.librotitulo}" class="truncate"></h3>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var loginIcon = document.getElementById('loginIcon');
        var loginDropdown = document.getElementById('loginDropdown');

        loginIcon.addEventListener('click', function (event) {
            event.preventDefault();
            loginDropdown.classList.toggle('hidden');
        });

        window.addEventListener('click', function (event) {
            if (!event.target.closest('.login-container')) {
                loginDropdown.classList.add('hidden');
            }
        });
    });
</script>